Source: basic-http-server
Section: utils
Priority: optional
Maintainer: Jérémie Ferry <jerem.ferry@gmail.com>
Build-Depends:
  debhelper (>=9),
  cargo,
  quilt
Standards-Version: 4.1.1

Package: basic-http-server
Version: 0.1
Section: utils
Priority: optional
Maintainer: Jérémie Ferry <jerem.ferry@gmail.com>
Architecture: any
Pre-Depends: dpkg (>= 1.17.14)
Depends: ${shlib:Depends}
Description: A simple HTTP static file server written in Rust with async hyper.
